<?xml version="1.0" encoding="UTF-8"?>
<module version="0.2">
    <grants />
    <permissions />
    <actions>
        <action name="dispSomoimList" type="view" standalone="true" index="true" />
        <action name="dispSomoimView" type="view" standalone="true" />
        <action name="dispSomoimCreate" type="view" standalone="true" />
        <action name="dispSomoimManageRequests" type="view" standalone="true" />
        <action name="procSomoimCreate" type="controller" standalone="true" />
        <action name="procSomoimJoinRequest" type="controller" standalone="true" />
        <action name="procSomoimApproveJoin" type="controller" standalone="true" />
        <action name="procSomoimRejectJoin" type="controller" standalone="true" />
    </actions>
</module>