<?xml version="1.0" encoding="utf-8"?>
<module>
	<grants>
	</grants>
	<actions>
		<!-- 관리자 액션 -->
		<action name="dispSomoimAdminConfig" type="view" menu_name="somoim" admin_index="true" />
		<action name="procSomoimAdminInsertConfig" type="controller" />
		<!-- 일반 액션 -->
		<action name="dispSomoimIndex" type="view" index="true" />
	</actions>
	<menus>
		<menu name="somoim" type="all">
			<title xml:lang="ko">somoim</title>
		</menu>
	</menus>
</module>
